<section class="my-2 product-section">
  <div class="container-xxl">
    <div class="card row align-items-center text-center mt-md-5">
      <p class="h2 mb-0 mt-3">{{product.title}}</p>
      <img src="{{product.image}}" class="card-img-top">
      <div class="card-body px-4 d-flex flex-column align-items-center">
        <p class="card-text mb-6">{{product.description}}</p>
        <p class="card-price mb-6 small"><span class="fw-bold fs-3">{{product.price}} ₽</span> *цена указана за 50гр</p>
        <a class="btn btn-primary mb-1" [routerLink]="['/order', product.id]">Купить</a>
      </div>
    </div>
  </div>
</section>


